@model User
@{
    ViewData["Title"]="Success";
}

<div class="text-center">
    <h1 class="display-4">Registed Successfully! Welcome @Model.FirstName @Model.LastName</h1>
    <a href="/"> Back Home</a>
</div>